<nav  style="background-color: rgb(255, 191, 72);"class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">


    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>

        <a class="navbar-item" href="https://bulma.io" style="text-align: center;">
         <p style="color: black; font-size: 19px;">Soko Foods</p>
        </a>
            
                <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                Menu
                </a>

                <div class="navbar-dropdown">
                <a class="navbar-item">
                    About us
                </a>
                <a class="navbar-item">
                    Sign in
                </a>
                <a class="navbar-item">
                    Our Products
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                    How to Order
                </a>
                </div>
            </div>
            </div>

  </div>

</nav>
          <h2 style="color: white; background-color: blue; text-align: center;">We are currently closed for orders, please try from 9am to 6pm</h2>
            <br>

            <nav style=" font-weight: 500; color: black; text-align: center; background-color: white; height: 50px;">Sign In</nav>
